img {
  width: calc(100vh / 3);
  height: auto;
  opacity: 0.4;
}

.container {
  position: relative;
}

.bboxContainer {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.labelContainer {
  position: absolute;
  bottom: 0;
  left: 5px;
  color: black;
  pointer-events: none;
  font-size: 10px;
}

.objRect {
  fill: transparent;
  stroke: white;
  stroke-width: 5;
  cursor: pointer;
}

.objRect:hover {
  stroke-width: 3;
}

.textArea {
  pointer-events: none;
  opacity: 0;
}

.rotated {
  transform: rotate(180deg);

  .labelContainer {
    transform: rotate(180deg);
    right: 5px;
  }
}
